.FirstBox {
  border: 1px solid black;
  margin: auto;
  width: 100%;
  background-color: #81c1cf;
  text-align: center;
  padding-bottom: 30px;
}
.FirstBox > input {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #2c2a2a;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid black;
}

.btn {
  background-color: black;
  color: whitesmoke;
  width: 150px;
  height: 33px;
  margin-left: 2px;
  border-radius: 5px;
}



.table > div {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #6c9ea8;
  padding: 10px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.table > div:hover{

background-color: #a2d6e0;
}
.deltebtn{
  

  background-color: black;
  color: white;
  width: 120px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
}
.deltebtn:hover{
  color: white;
  font-size: 22px;
  background-color: red;
}
.todotext{
  font-size: 18px;
  font-weight:bold ;
  
}
